{
  "openapi": "3.0.2",
  "info": {
    "title": "Exchange Rates",
    "description": "Enables you to create and manage exchange rate data for analytics. You can create, change and search for exchange rates. You can also retrieve the status of replicating exchange rates from SAP Master Data Integration.",
    "version": "1"
  },
  "x-sap-api-type": "ODATAV4",
  "x-odata-version": "4.01",
  "x-sap-shortText": "Manage exchange rates for analytics.",
  "servers": [
    {
      "url": "https://sandbox.api.sap.com/subscriptionbilling/api/analytics/v1"
    },
    {
      "url": "https://{region}.revenue.cloud.sap/api/analytics/v1",
      "description": "SAP Subscription Billing API Endpoint",
      "variables": {
        "region": {
          "description": "SAP Subscription Billing Region",
          "enum": [
            "eu10",
            "us10"
          ],
          "default": "eu10"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Exchange Rates Management"
    },
    {
      "name": "Replication Monitoring"
    }
  ],
  "paths": {
    "/ExchangeRateMdiReplicationReports": {
      "get": {
        "summary": "Retrieves SAP Master Data Integration exchange rate replication reports.",
        "tags": [
          "Replication Monitoring"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "MDIntegBusObjectInstanceID",
                  "MDIntegBusObjectInstanceID desc",
                  "ExchangeRateOID",
                  "ExchangeRateOID desc",
                  "SourceCurrencyISOCode",
                  "SourceCurrencyISOCode desc",
                  "TargetCurrencyISOCode",
                  "TargetCurrencyISOCode desc",
                  "ExchangeRateType",
                  "ExchangeRateType desc",
                  "ExchangeRateEffectiveDate",
                  "ExchangeRateEffectiveDate desc",
                  "ExchangeRateReplicationStatus",
                  "ExchangeRateReplicationStatus desc",
                  "ExchangeRateReplicationErrorText",
                  "ExchangeRateReplicationErrorText desc",
                  "LastChangeDateTime",
                  "LastChangeDateTime desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "MDIntegBusObjectInstanceID",
                  "ExchangeRateOID",
                  "SourceCurrencyISOCode",
                  "TargetCurrencyISOCode",
                  "ExchangeRateType",
                  "ExchangeRateEffectiveDate",
                  "ExchangeRateReplicationStatus",
                  "ExchangeRateReplicationErrorText",
                  "LastChangeDateTime"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved exchange rate mdi replication reports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of ExchangeRateMdiReplicationReports",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sap.billing.sb.analytics.ExchangeRateService.ExchangeRateMdiReplicationReports"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "description": "Retrieves a collection of SAP Master Data Integration replication reports that match the search criteria.<br><br>This operation requires the scope `mdi-replication-report_view`."
      }
    },
    "/ExchangeRateMdiReplicationReports('{MDIntegBusObjectInstanceID}')": {
      "parameters": [
        {
          "description": "MDI Exchange Rate ID  \nThe unique identifier of the exchange rate in SAP Master Data Integration. It is also the identifier of the replication report.",
          "in": "path",
          "name": "MDIntegBusObjectInstanceID",
          "required": true,
          "schema": {
            "type": "string",
            "maxLength": 128,
            "example": "TS1FVVIvVVNELTIwMjQwMTAx"
          }
        }
      ],
      "get": {
        "summary": "Retrieves an SAP Master Data Integration exchange rate replication report.",
        "tags": [
          "Replication Monitoring"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "MDIntegBusObjectInstanceID",
                  "ExchangeRateOID",
                  "SourceCurrencyISOCode",
                  "TargetCurrencyISOCode",
                  "ExchangeRateType",
                  "ExchangeRateEffectiveDate",
                  "ExchangeRateReplicationStatus",
                  "ExchangeRateReplicationErrorText",
                  "LastChangeDateTime"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved exchange rate mdi replication report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sap.billing.sb.analytics.ExchangeRateService.ExchangeRateMdiReplicationReports"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "description": "Retrieves a single SAP Master Data Integration replication report with a specific identifier.<br><br>This operation requires the scope `mdi-replication-report_view`."
      }
    },
    "/ExchangeRates": {
      "get": {
        "summary": "Retrieves exchange rates.",
        "tags": [
          "Exchange Rates Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "$filter",
            "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ExchangeRateOID",
                  "ExchangeRateOID desc",
                  "ExchangeRateDisplayID",
                  "ExchangeRateDisplayID desc",
                  "SourceCurrencyISOCode",
                  "SourceCurrencyISOCode desc",
                  "TargetCurrencyISOCode",
                  "TargetCurrencyISOCode desc",
                  "ExchangeRateEffectiveDate",
                  "ExchangeRateEffectiveDate desc",
                  "ExchangeRate",
                  "ExchangeRate desc",
                  "IsDirectExchangeRate",
                  "IsDirectExchangeRate desc",
                  "NumberOfSourceCurrencyUnits",
                  "NumberOfSourceCurrencyUnits desc",
                  "NumberOfTargetCurrencyUnits",
                  "NumberOfTargetCurrencyUnits desc",
                  "LastChangeDateTime",
                  "LastChangeDateTime desc"
                ]
              }
            }
          },
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ExchangeRateOID",
                  "ExchangeRateDisplayID",
                  "SourceCurrencyISOCode",
                  "TargetCurrencyISOCode",
                  "ExchangeRateEffectiveDate",
                  "ExchangeRate",
                  "IsDirectExchangeRate",
                  "NumberOfSourceCurrencyUnits",
                  "NumberOfTargetCurrencyUnits",
                  "LastChangeDateTime"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Collection of ExchangeRates",
                  "properties": {
                    "@count": {
                      "$ref": "#/components/schemas/count"
                    },
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sap.billing.sb.analytics.ExchangeRateService.ExchangeRates"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "description": "Retrieves a collection of exchange rates that match the search criteria.<br><br>This operation requires the scope `analytics-exchange-rate_view`."
      },
      "post": {
        "summary": "Creates an exchange rate.",
        "tags": [
          "Exchange Rates Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sap.billing.sb.analytics.ExchangeRateService.ExchangeRates-create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created exchange rate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sap.billing.sb.analytics.ExchangeRateService.ExchangeRates"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "description": "Creates a new exchange rate.<br><br>This operation requires the scope `analytics-exchange-rate_manage`."
      }
    },
    "/ExchangeRates('{ExchangeRateOID}')": {
      "parameters": [
        {
          "description": "Exchange Rate ID  \nThe unique identifier of the exchange rate.",
          "in": "path",
          "name": "ExchangeRateOID",
          "required": true,
          "schema": {
            "type": "string",
            "maxLength": 128,
            "example": "TS1FVVIvVVNELTIwMjQwMTAx"
          }
        }
      ],
      "get": {
        "summary": "Retrieves an exchange rate.",
        "tags": [
          "Exchange Rates Management"
        ],
        "parameters": [
          {
            "name": "$select",
            "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "ExchangeRateOID",
                  "ExchangeRateDisplayID",
                  "SourceCurrencyISOCode",
                  "TargetCurrencyISOCode",
                  "ExchangeRateEffectiveDate",
                  "ExchangeRate",
                  "IsDirectExchangeRate",
                  "NumberOfSourceCurrencyUnits",
                  "NumberOfTargetCurrencyUnits",
                  "LastChangeDateTime"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved exchange rate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sap.billing.sb.analytics.ExchangeRateService.ExchangeRates"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "description": "Retrieves a single exchange rate with a specific identifier.<br><br>This operation requires the scope `analytics-exchange-rate_view`."
      },
      "patch": {
        "summary": "Patches an exchange rate.",
        "tags": [
          "Exchange Rates Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sap.billing.sb.analytics.ExchangeRateService.ExchangeRates-update"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "description": "Patches a single exchange rate with a specific identifier.<br><br>This operation requires the scope `analytics-exchange-rate_manage`."
      },
      "delete": {
        "summary": "Deletes an exchange rate.",
        "tags": [
          "Exchange Rates Management"
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "description": "Deletes a single exchange rate with a specific identifier.<br><br>This operation requires the scope `analytics-exchange-rate_manage`."
      }
    }
  },
  "components": {
    "schemas": {
      "sap.billing.sb.analytics.ExchangeRateService.ExchangeRateMdiReplicationReports": {
        "title": "Exchange Rate Replication Reports",
        "type": "object",
        "properties": {
          "MDIntegBusObjectInstanceID": {
            "type": "string",
            "maxLength": 128,
            "example": "TS1FVVIvVVNELTIwMjQwMTAx",
            "description": "The unique identifier of the exchange rate in SAP Master Data Integration. It is also the identifier of the replication report."
          },
          "ExchangeRateOID": {
            "type": "string",
            "maxLength": 128,
            "nullable": true,
            "example": "TS1FVVIvVVNELTIwMjQwMTAx",
            "description": "The unique identifier of the exchange rate in SAP Subscription Billing."
          },
          "SourceCurrencyISOCode": {
            "type": "string",
            "maxLength": 3,
            "nullable": true,
            "example": "EUR",
            "description": "The source currency code of the exchange rate."
          },
          "TargetCurrencyISOCode": {
            "type": "string",
            "maxLength": 3,
            "nullable": true,
            "example": "USD",
            "description": "The target currency code of the exchange rate."
          },
          "ExchangeRateType": {
            "type": "string",
            "maxLength": 4,
            "nullable": true,
            "example": "M",
            "description": "Exchange rate type. Currently, only `M` is supported."
          },
          "ExchangeRateEffectiveDate": {
            "type": "string",
            "format": "date",
            "example": "2024-01-01",
            "nullable": true,
            "description": "The effective date of the exchange rate."
          },
          "ExchangeRateReplicationStatus": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "FAILURE",
              "SKIPPED"
            ],
            "nullable": true,
            "example": "FAILURE",
            "description": "The result status of the exchange rate replication."
          },
          "ExchangeRateReplicationErrorText": {
            "type": "string",
            "nullable": true,
            "example": "Currency code not found.",
            "description": "The error message of the exchange rate replication."
          },
          "LastChangeDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2024-04-29T07:06:45.980228600Z",
            "nullable": true,
            "description": "Time stamp when the replication report is last changed."
          }
        }
      },
      "sap.billing.sb.analytics.ExchangeRateService.ExchangeRates": {
        "title": "Exchange Rates",
        "type": "object",
        "properties": {
          "ExchangeRateOID": {
            "type": "string",
            "maxLength": 128,
            "example": "TS1FVVIvVVNELTIwMjQwMTAx",
            "description": "The unique identifier of the exchange rate."
          },
          "ExchangeRateDisplayID": {
            "type": "string",
            "maxLength": 21,
            "example": "M-EUR/USD-20240101",
            "description": "The human-readable identifier of the exchange rate."
          },
          "SourceCurrencyISOCode": {
            "type": "string",
            "maxLength": 3,
            "example": "EUR",
            "description": "The source currency code of the exchange rate."
          },
          "TargetCurrencyISOCode": {
            "type": "string",
            "maxLength": 3,
            "example": "USD",
            "description": "The target currency code of the exchange rate."
          },
          "ExchangeRateEffectiveDate": {
            "type": "string",
            "format": "date",
            "example": "2024-01-01",
            "description": "The effective date of the exchange rate. The date must be later than 1900-01-01."
          },
          "ExchangeRate": {
            "anyOf": [
              {
                "type": "number",
                "format": "decimal",
                "multipleOf": 0.00001,
                "maximum": 9999.99999,
                "minimum": 0.00001
              },
              {
                "type": "string"
              }
            ],
            "example": 1.1,
            "x-sap-precision": 9,
            "x-sap-scale": 5,
            "nullable": true,
            "description": "Exchange rate value."
          },
          "IsDirectExchangeRate": {
            "type": "boolean",
            "example": true,
            "description": "Indicates whether the rate is a direct quotation. If set to true, the rate represents the quantity of target currency needed to purchase one unit of source currency."
          },
          "NumberOfSourceCurrencyUnits": {
            "anyOf": [
              {
                "type": "number",
                "format": "decimal",
                "multipleOf": 1,
                "maximum": 100000000,
                "minimum": 1
              },
              {
                "type": "string"
              }
            ],
            "example": 1,
            "x-sap-precision": 9,
            "x-sap-scale": 0,
            "nullable": true,
            "description": "The ratio factor for the source currency units. The value must be a power of 10."
          },
          "NumberOfTargetCurrencyUnits": {
            "anyOf": [
              {
                "type": "number",
                "format": "decimal",
                "multipleOf": 1,
                "maximum": 100000000,
                "minimum": 1
              },
              {
                "type": "string"
              }
            ],
            "example": 1,
            "x-sap-precision": 9,
            "x-sap-scale": 0,
            "nullable": true,
            "description": "The ratio factor for the target currency units. The value must be a power of 10"
          },
          "LastChangeDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2024-04-29T07:06:45.980228600Z",
            "description": "Time stamp when the exchange rate is last changed."
          }
        }
      },
      "sap.billing.sb.analytics.ExchangeRateService.ExchangeRates-create": {
        "title": "Exchange Rates (for create)",
        "type": "object",
        "properties": {
          "SourceCurrencyISOCode": {
            "type": "string",
            "maxLength": 3,
            "example": "EUR",
            "description": "The source currency code of the exchange rate."
          },
          "TargetCurrencyISOCode": {
            "type": "string",
            "maxLength": 3,
            "example": "USD",
            "description": "The target currency code of the exchange rate."
          },
          "ExchangeRateEffectiveDate": {
            "type": "string",
            "format": "date",
            "example": "2024-01-01",
            "description": "The effective date of the exchange rate. The date must be later than 1900-01-01."
          },
          "ExchangeRate": {
            "anyOf": [
              {
                "type": "number",
                "format": "decimal",
                "multipleOf": 0.00001,
                "maximum": 9999.99999,
                "minimum": 0.00001
              },
              {
                "type": "string"
              }
            ],
            "example": 1.1,
            "x-sap-precision": 9,
            "x-sap-scale": 5,
            "nullable": true,
            "description": "Exchange rate value."
          },
          "IsDirectExchangeRate": {
            "type": "boolean",
            "example": true,
            "description": "Indicates whether the rate is a direct quotation. If set to true, the rate represents the quantity of target currency needed to purchase one unit of source currency."
          },
          "NumberOfSourceCurrencyUnits": {
            "anyOf": [
              {
                "type": "number",
                "format": "decimal",
                "multipleOf": 1,
                "maximum": 100000000,
                "minimum": 1
              },
              {
                "type": "string"
              }
            ],
            "example": 1,
            "x-sap-precision": 9,
            "x-sap-scale": 0,
            "nullable": true,
            "description": "The ratio factor for the source currency units. The value must be a power of 10."
          },
          "NumberOfTargetCurrencyUnits": {
            "anyOf": [
              {
                "type": "number",
                "format": "decimal",
                "multipleOf": 1,
                "maximum": 100000000,
                "minimum": 1
              },
              {
                "type": "string"
              }
            ],
            "example": 1,
            "x-sap-precision": 9,
            "x-sap-scale": 0,
            "nullable": true,
            "description": "The ratio factor for the target currency units. The value must be a power of 10"
          }
        },
        "required": [
          "SourceCurrencyISOCode",
          "TargetCurrencyISOCode",
          "ExchangeRateEffectiveDate",
          "ExchangeRate",
          "IsDirectExchangeRate",
          "NumberOfSourceCurrencyUnits",
          "NumberOfTargetCurrencyUnits"
        ]
      },
      "sap.billing.sb.analytics.ExchangeRateService.ExchangeRates-update": {
        "title": "Exchange Rates (for update)",
        "type": "object",
        "properties": {
          "ExchangeRate": {
            "anyOf": [
              {
                "type": "number",
                "format": "decimal",
                "multipleOf": 0.00001,
                "maximum": 9999.99999,
                "minimum": 0.00001
              },
              {
                "type": "string"
              }
            ],
            "example": 1.1,
            "x-sap-precision": 9,
            "x-sap-scale": 5,
            "nullable": true,
            "description": "Exchange rate value."
          },
          "IsDirectExchangeRate": {
            "type": "boolean",
            "example": true,
            "description": "Indicates whether the rate is a direct quotation. If set to true, the rate represents the quantity of target currency needed to purchase one unit of source currency."
          },
          "NumberOfSourceCurrencyUnits": {
            "anyOf": [
              {
                "type": "number",
                "format": "decimal",
                "multipleOf": 1,
                "maximum": 100000000,
                "minimum": 1
              },
              {
                "type": "string"
              }
            ],
            "example": 1,
            "x-sap-precision": 9,
            "x-sap-scale": 0,
            "nullable": true,
            "description": "The ratio factor for the source currency units. The value must be a power of 10."
          },
          "NumberOfTargetCurrencyUnits": {
            "anyOf": [
              {
                "type": "number",
                "format": "decimal",
                "multipleOf": 1,
                "maximum": 100000000,
                "minimum": 1
              },
              {
                "type": "string"
              }
            ],
            "example": 1,
            "x-sap-precision": 9,
            "x-sap-scale": 0,
            "nullable": true,
            "description": "The ratio factor for the target currency units. The value must be a power of 10"
          }
        },
        "required": [
          "IsDirectExchangeRate",
          "ExchangeRate",
          "NumberOfSourceCurrencyUnits",
          "NumberOfTargetCurrencyUnits"
        ]
      },
      "count": {
        "anyOf": [
          {
            "type": "number"
          },
          {
            "type": "string"
          }
        ],
        "description": "The number of entities in the collection. Available when using the [$count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount) query option."
      },
      "error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "target": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "target": {
                      "type": "string"
                    }
                  }
                }
              },
              "innererror": {
                "type": "object",
                "description": "The structure of this object is service-specific"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "top": {
        "name": "$top",
        "in": "query",
        "description": "Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)",
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "example": 50
      },
      "skip": {
        "name": "$skip",
        "in": "query",
        "description": "Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "count": {
        "name": "$count",
        "in": "query",
        "description": "Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)",
        "schema": {
          "type": "boolean"
        }
      },
      "search": {
        "name": "$search",
        "in": "query",
        "description": "Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "error": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "description": "To use this API, log on to the SAP BTP (Business Technology Platform) cockpit to get a service key with OAuth client credentials. Then use the service key to generate an access/bearer token. <br>For more information, see the API Guide.",
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://{identityzone}.authentication.{region}.hana.ondemand.com/oauth/token",
            "scopes": {
              "{identityzone}.analytics-exchange-rate_view": "View exchange rates.",
              "{identityzone}.analytics-exchange-rate_manage": "Manage exchange rates.",
              "{identityzone}.mdi-replication-report_view": "View SAP Master Data Integration replication reports."
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "{identityzone}.analytics-exchange-rate_view",
        "{identityzone}.analytics-exchange-rate_manage",
        "{identityzone}.mdi-replication-report_view"
      ]
    }
  ],
  "x-sap-extensible": {
    "supported": "no"
  },
  "externalDocs": {
    "description": "API Guide",
    "url": "https://help.sap.com/viewer/987aec876092428f88162e438acf80d6/latest/en-US/fba1cb515fee4d4aa7f0a29edf606cad.html"
  }
}